.contact:hover {
  filter: grayscale(0%);
}

.contact {
  filter: grayscale(50%);
  transition: filter 0.1s linear;
}

.contact-1 {
  background-image: url(./assets/images/gmail.png);
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
}

a {
  color: white !important;
}

.copick {
  color: #70fdab;
  animation: hue 2s linear infinite backwards;
}
@keyframes hue {
  to {
    filter: hue-rotate(1turn);
  }
}
