body {
  background-color: rgb(52, 58, 64) !important;
}
.contact:hover {
  filter: grayscale(0%);
}

.contact {
  filter: grayscale(50%);
  transition: filter 0.1s linear;
}

.contact-1 {
  background-image: url(./assets/images/gmail.png);
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
}

a {
  color: white !important;
}

a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.copick {
  color: #70fdab;
  animation: hue 2s linear infinite backwards;
}
@keyframes hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.badge-pill {
  margin-bottom: 0.4rem;
}

.fillTheFridge,
.fillTheFridge > .card-body {
  background: #fff8f2 !important;
}

/* .education-card {
  border-radius: 1rem;
  background: linear-gradient(225deg, #2f343a, #383e44);
  box-shadow: -7px 7px 14px #282d31, 7px -7px 14px #40474f;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out,
    background 0.2s ease-in-out;
}

.education-card:hover {
  box-shadow: -7px 7px 14px #262a2f, 7px -7px 14px #424a51;
  transform: perspective(300px) translateZ(3px);
  background: linear-gradient(225deg, #343a40, #343a40);
}
*/
.education-card {
  border-bottom: 2px solid hsl(210, 10%, 20%);
  border-left: none;
  border-right: none;
  border-radius: 0.5rem;
  border-top: 1px solid hsl(210, 10%, 30%);
  transition: border 0.2s ease-in-out;
}

.workDiv {
  /* border: 1px solid #28a745; */
  /* background: linear-gradient(to top, #28a745, transparent); */
}

@media print {
  .badge {
    border: none !important;
  }
  .badge-pill {
    border: none !important;
  }
  body {
    background-color: white !important;
  }
  :not(.badge-pill),
  :not(.badge) {
    color: black !important;
  }
  .card,
  .bg-dark,
  .card-body,
  .card-header,
  .card-footer {
    background: white !important;
    background-color: white !important;
  }
  .project-card {
    border: 1px solid black !important;
  }
  #download-cv-btn,
  .card-text {
    display: none;
  }
}
